
body {
    --color-primary: #000000;
    --color-secondary: #000000;
    --color-secondary-dark: #4d4d4d;
    --color-background: #858585;
    --border-radius: 5px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    background-size: cover;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 25px rgba(109, 109, 109, 0.7);
    border-radius: var(--border-radius);
    background: #111;
}

.container,
.git__button {
    font: 500 1rem 'helvetica', sans-serif;
}

.git > *:first-child {
    margin-top: 0;
}
.git > *:last-child {
    margin-bottom: 0;
}

.git__text {
    color: orange;
}
.git__title {
    margin-bottom: 2rem;
    text-align: center;

    font-size: 50px;
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
}

.git__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #000;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: orange;

}

.git__button:hover {
    background: rgba(255, 166, 0, 0.856);
}
.git__button:active {
    transform: scale(0.95);
}

.git__link {
    color: #ffffff;
    text-decoration: none;
       
}

h1{
    color: #fff;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;  
}

span {
    background-color: orange;
    color: #000;
    padding: 6px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.popup {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRib-AX-71WnxYSTFVqH1CZqvTmwLvu1JvEA&s);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 350px;
    padding: 20px 30px;
    position: absolute;
    transform: translate(-50% -50%);
    border-radius: 1rem;
    right: 1%;
    bottom: 2%;
    text-align: center;
    display: none;   
    
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.popup .sulje{
    display: block;
    margin:  0 0 15px auto;
    background-color: transparent;
    font-size: 30px;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

.pop__title {
    font-size: 40px;
    background-color: rgba(187, 187, 187, 0.5);
    border-radius: 0.3rem;
    margin-top: 0.1px;
    color: #000;

}

.pop__linkbutton {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 0.8rem;
    margin-top: 100px;
    background-color: #ff0000;
    animation: bgColor 2s infinite linear;
    text-align: center;
    padding: 1rem;
}

@keyframes bgColor {
12.5% {
  background-color: #FF0000;
}
25% {
  background-color: #FFA500;
}
37.5% {
  background-color: #FFFF00;
}
50% {
  background-color: #7FFF00;
}
62.5% {
  background-color: #00FFFF;
}
75% {
  background-color: #003cff;
}
87.5% {
  background-color: #9932CC;
}
100% {
  background-color: #FF1493;
}
}