   h1 {
   font-family: Arial, sans-sans-serif;
   font-weight: bold;
   font-style: italic;
   font-size: 3em;
   color:#3586ff;
   }
   
   h2 {
   font-family: Arial, sans-sans-serif;
   font-weight: bold;
   font-style: italic;
   font-size: 3em;
   color:#3586ff;
   }
   
   h3 {
   font-family: Arial, sans-sans-serif;
   font-weight: bold;
   font-style: normal;
   font-size: 1.9em;
   color:#3586ff;
   }
   h4 {
   	text-align: right;
   }
   a {
   color: white;
   text-decoration: none;
   font-size: 1.3em;
   }
   
   dt {
   font-family: Arial, sans-sans-serif;
   font-weight: bold;
   font-style: normal;
   font-size: 1.6em;
   color:#3586ff;
   position: relative;
   left: 0em;
   
   }
   
   dd {
   font-family: Arial, sans-sans-serif;
   font-weight: bold;
   font-style: normal;
   font-size: 1.2em;
   color:#3586ff;
   position: relative;
   left: 0em;
   }
   
   /*background*/
   * {
   margin: 0;
   padding: 0;
   }
   
   section {
   position: relative;
   width: 100%;
   height: 45vh;
   background: #3586ff;
   overflow: hidden;
   }
   
   section .air {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100px;
   background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
   background-size: 1000px 100px
   }
   
   section .air.air1 {
   animation: wave 30s linear infinite;
   z-index: 1000;
   opacity: 1;
   animation-delay: 0s;
   bottom: 0;
   }
   
   section .air.air2 {
   animation: wave2 15s linear infinite;
   z-index: 999;
   opacity: 0.5;
   animation-delay: -5s;
   bottom: 10px;
   }
   
   section .air.air3 {
   animation: wave 30s linear infinite;
   z-index: 998;
   opacity: 0.2;
   animation-delay: -2s;
   bottom: 15px;
   }
   
   section .air.air4 {
   animation: wave2 5s linear infinite;
   z-index: 997;
   opacity: 0.7;
   animation-delay: -5s;
   bottom: 20px;
   }
   
   @keyframes wave {
   0% {
   background-position-x: 0px;
   }
   
   100% {
   background-position-x: 1000px;
   }
   }
   
   @keyframes wave2 {
   0% {
   background-position-x: 0px;
   }
   
   100% {
   background-position-x: -1000px;
   }
   }
   
   /*Buttonit*/
   .cta-button-pois{
   background: #3586ff;
   border-radius: 14px;
   box-shadow:    0 1px #444444;
   padding:       10px 21px;
   color:         #ffffff;
   display:       inline-block;
   font:          normal bold 13px/1 Arial, sans-serif;
   text-align:    center;
   position: absolute;
   bottom: 4px;
   left: 9px;
   }
   
   .cta-button-opinnot-1{
   background:    #3586ff;
   border-radius: 14px;
   box-shadow:    0 1px #444444;
   width:         178px;
   height:        50px;
   color:         #ffffff;
   display:       inline-block;
   font:          normal bold 13px/50px Arial, sans-serif;
   text-align:    center;
   }
   
   /*linkkien visuaaliset*/
   a:hover, a:focus {
   animation: color-change 5s infinite;
   }
   
   @keyframes color-change {
   0% {color: rgb(255, 0, 0); }
   16.6% {color: rgb(60, 179, 113); }
   33.2% {color: rgb(255, 165, 0); }
   49.8% {color: rgb(0, 0, 255); }
   66.4% {color: rgb(238, 130, 238); }
   83% {color: rgb(106, 90, 205); }
   100% {color: rgb(255, 0, 246); }
   }
   